/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#header  {
  width:100%;
  height:54px;
}

.main_header {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  position: relative;
  padding-top: 15px;

}

h1{
  position: absolute;
  left:45%;
  margin-top:-5px;
}

.key_search {
  position: absolute;
  top: 0px;
  left: 0px;
}

.key_search_submit  {
  width: 180px;
  height: 30px;
  top: 20px;
  position: relative;
  padding: 0px 80px 0px 8px;

}

.key_search_btn {
  position: absolute;
  height: 34px;
  top: 20px;
  width: 50px;
  right: 0px;
  cursor: pointer;
  background-image: url(key_search_btn.png);
  border: 1px solid #C2BEBE;
}

.head_nav {
  display: inline-block;
  vertical-align: middle;
  right: 0;
  top: 5px;
  position: absolute;
}

.head_nav li  {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 12px;
  letter-spacing: normal;
  vertical-align: middle;
}

.head_nav li a {
  text-decoration: none;
}

.catch_contents  {
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  width: 1436px;
  height: 370px;
  margin-top: 25px;
}
